html, body {
  height: 100%;
  width: 100%;
}

body > #root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  outline: none;
}

dl, li, menu, ol, ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
